.orderWrapper {
  margin-bottom: 32px;
  form {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 30px 0 30px;
    display: flex;
    position: relative;

    .left {
      max-width: 700px;
      background: white;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
    }

    section {
      padding: 40px 32px;
      border-bottom: 1px solid #E8EAEF;

      h3 {
        font-size: 20px;
        color: #343434;
        margin-bottom: 24px;
      }
    }

    .contact {
      .rules {
        display: flex;
        align-items: center;

        .text {
          margin-left: 16px;
          font-size: 12px;
          color: #343434;
          font-weight: 400;

          a {
            color: #F47521;
            margin-left: 5px;
            text-decoration: underline;
          }
        }
      }

      p {
        margin-top: 16px;
        font-size: 12px;
        line-height: 1.33;
        font-weight: 400;
        color: #343434;
      }
    }

    .address {
      .input {
        cursor: default;

        p {
          font-size: 14px;
          color: #9B9B9B;
          margin-bottom: 8px;
          font-weight: 400;
        }

        span {
          position: relative;
          display: block;
          width: 100%;
          padding: 14px 16px 14px 38px;
          background: #F8F8FB;
          color: #343434;
          font-size: 14px;
          font-weight: 400;
          border-radius: 8px;

          svg {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 16px;
          }
        }
      }
    }

    .comment {
      border: none;

      h3 {
        font-size: 16px;
        font-weight: 400;
        color: #343434;
      }

      textarea {
        width: 100%;
      }
    }
  }

  .orderSummary {
    width: 100%;
    max-width: 420px;
    margin-left: 20px;
  }
}