.profileWrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 30px 70px;
  display: flex;


  .left {
    margin-right: 30px;
    max-width: 225px;
    width: 100%;
    h2 {
      margin-bottom: 40px;
      font-size: 20px;
      color: #343434;
    }
  }

  .contentMain {
    width: 100%;
  }

}