.statusRestaurant {
  display: flex;
  align-items: center;
  position: relative;
  color: #9B9B9B;
  font-size: 12px;
  font-weight: 400;

  span {
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 50%;
  }

  .isOpen {
    background: #36ce00;
  }

  .isClosed {
    background: #FF0000;
  }
}
