.scrollTo {
  position: absolute;
  top: 0;
}

.footer {
  padding: 32px 0;
  background: white;

  .footerContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }

  .footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footerLogo {
      max-width: 144px;
      max-height: 72px;
      margin-bottom: 24px;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .footerScrollTop {
      padding: 16px 24px;
      background: #F8F8FB;
      font-size: 14px;
      color: #343434;
      display: flex;
      align-items: center;
      font-weight: 400;
      cursor: pointer;
      border-radius: 8px;
      transition: scale .3s;

      &:hover {
        scale: 1.03;
      }

      svg {
        margin-left: 12px;
        fill: #F47521;
        width: 16px;
        height: 16px;
        transform: rotate(-90deg);
      }
    }
  }

  .footerBody {
    display: flex;
    justify-content: space-between;
    padding-bottom: 44px;
    border-bottom: 1px solid #E8EAEF;
  }

  .footerBodyLeft {
    p {
      margin-bottom: 16px;
    }

    .contacts {
      display: flex;
      flex-direction: column;
      margin: 8px 0;

      a {
        color: #F47521;
        max-width: fit-content;

        &:first-child {
          margin-bottom: 8px;
        }
      }
    }

    .bankCards {
      display: flex;
      gap: 8px;

      img {
        width: 50px;
        height: 32px;
      }
    }
  }

  .footerBodyRight {
    .socialNetworks {
      display: flex;
      gap: 8px;
    }

    a {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      background: #F8F8FB;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        transition: fill .3s;
      }

      &:hover {
        svg {
          fill: #F47521;
        }
      }


    }
  }

  .footerBottom {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    a {
      color: #9B9B9B;
    }
  }
}