@mixin decoreCity {
  content: "";
  position: absolute;
  top: -10px;
  width: 1px;
  height: 40px;
  background-color: #E8EAEF;
}

.headerContainer {
  min-height: 81px;
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
  justify-content: center;

  .headerWrapper {
    padding: 0 30px;
    margin: 0 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;

    .logo {
      img {
        max-width: 144px;
        max-height: 72px;
      }
    }

    .city {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      p {
        font-size: 16px;
        color: #343434;
      }

      svg {
        width: 20px;
        height: 20px;
        fill: #F47521;
        margin-right: 8px;
      }

      &::before {
        @include decoreCity;
        left: -40px;
      }

      &::after {
        @include decoreCity;
        right: -40px;
      }
    }


    .userAuth {
      display: flex;
      align-items: center;

      svg {
        fill: black;
        cursor: pointer;
        &:hover {
          fill: #F47521;
        }
      }

      .iconUser {
        display: inline-block;
        background: #F47521;
        width: 40px;
        height: 40px;
        margin-left: 24px;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          display: block;
        }
      }

    }

    .user {
      .login {
        padding: 16px 24px;
        color: #343434;
        background: #F8F8FB;
        border-radius: 8px;
        font-weight: 500;
        transition: scale .3s;

        &:hover {
          scale: 1.02;
        }
      }
    }
  }
}